.button {
  width: 100%;
  padding: $xxl;
  color: $white;
  border-radius: $r-md;
  border: none;
  background-color: $persimmon;
  font-size: $fs-lg;
  cursor: pointer;

  &:hover {
    animation: shake 0.5s;
  }
}

@keyframes shake {
  0% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
